body {
    background-color: rgb(12, 83, 12);
}

section {
    background-color: steelblue;
    height: 400px;
    width: 400px;
    border: 3px solid black;
}

span {
    font-weight: bold;
}

.cardContainer {
    position: absolute;
    margin-top: 40px;
    background-color: fuchsia;
    border: 1px solid orange;
}

.card {
    background-color: papayawhip;
    height: 125px;
    width: 100px;
    border: 2px solid darkslategray;
    display: inline-block;
}

.\32 {
    background-color: cornsilk;
}

.\33 {
    background-color: cornsilk;
}

.\34 {
    background-color: cornsilk;
}

.\35 {
    background-color: cornsilk;
}

.\36 {
    background-color: cornsilk;
}

.\37 {
    background-color: cornsilk;
}

.\38 {
    background-color: cornsilk;
}

.\39 {
    background-color: cornsilk;
}

.\31 0 {
    background-color: peru;
}

.Hearts {
    color: crimson;
}

.Diamonds {
    color: firebrick;
}

.Spades {
    color: dimgray;
}

.Clubs {
    color: lightslategray;
}

.down {
    background-image: url("../img/Jack_Black_Basic.jpeg");
    background-size: cover;
    color: transparent;
}

#buttons {
    background-color: forestgreen;
    height: max-content;
    width: max-content;
}

